{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Subscrine and receive regular expert nutritionist updates and notifications about all our products and services for schools, teams, clubs, wellbeing, elite athletes, companies, organisations, individuals and elite athletes, with free consultations available at Peak Nutrition. ">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h1 class="logo-font mb-4">Subscription</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <form class="mt-3" method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form | crispy }}
                <button id="submit-button" class="btn btn-black rounded">
                    <span class="font-weight-bold">Subscribe</span>
                    <span class="icon">
                        <i class="fas fa-user-plus"></i>
                    </span>
                </button>
                <a class="btn btn-outline-black rounded" href="{% url 'home' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}