{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block extra_title%}Home{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h2>Peak Performance Nutrition</h2>
        <h3>Helping you reach your peak!</h3>
        <div>
          <h4>
            <a href="" class="shop-now-button btn btn-lg rounded text-uppercase py-3">Book a free consult</a>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="main-wrapper">
        <div class="main">
          <div class="container">
            <div class="hexagon">
              <a href="{% url 'products' %}?category=Teams"
                aria-label="Teams need expert advice and guidance to reach their full potential">
                <div class="img-wrapper" style="background-image:url('{{ MEDIA_URL }}shane-walsh-3511501_640.jpg');"></div>
                <div class="hexagon-text">Teams</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?category=Clubs"
                aria-label="Clubs need the best advice from experts in their field: members nutrition is fundamental">
                <div class="img-wrapper" style="background-image:url('{{ MEDIA_URL }}child-613199_640.jpg');"></div>
                <div class="hexagon-text">Clubs</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?category=Schools"
                aria-label="Through Wellbeing talks and iniatives, health eating can be encouraged in schools ">
                <div class="img-wrapper" style="background-image:url('{{ MEDIA_URL }}classroom-2093744_640.jpg');"></div>
                <div class="hexagon-text">Schools</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?category=Corporate"
                aria-label="Company wellbeing is a key priority now and nutrition plays a crucial role">
                <div class="img-wrapper" style="background-image:url('{{ MEDIA_URL }}conference-5308938_640.jpg');">
                </div>
                <div class="hexagon-text">Corporate</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?category=Athletes"
                aria-label="Athletes need the best advice from experts in their field: athlete nutrition is fundamental">
                <div class="img-wrapper" style="background-image:url('{{ MEDIA_URL }}bike-585247_640.jpg');"></div>
                <div class="hexagon-text">Athlete 1-to-1</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?category=Individuals"
                aria-label="Whether you are looking to reshape your diet or try something new, a consultation is the starting point">
                <div class="img-wrapper" style="background-image:url('{{ MEDIA_URL }}model-4669520_640.jpg');"></div>
                <div class="hexagon-text">Individual 1-to-1</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?category=Teams,Clubs,Schools,Corporate,Athletes,Individuals"
                aria-label="If you are unsure of what product you are looking for, all products is where you can look">
                <div class="img-wrapper" style="background-image:url('{{ MEDIA_URL }}proper-nutrition-4235473_640.jpg');">
                </div>
                <div class="hexagon-text">All Products</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}