{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-4 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h2>Peak Performance Nutrition</h2>
          <h3>Helping you reach your peak!</h3>
          <div>
            <h4>
              <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Book a free consult</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="main-wrapper">
          <div class="main">
            <div class="container">
              <div class="hexagon">
                <a href="" aria-label="">
                  <!--div class="img-wrapper"
                    style=""></div-->
                  <div class="hexagon-text">Teams</div>
                </a>
              </div>
              <div class="hexagon">
                <a href="" aria-label="">
                  <!--div class="img-wrapper"
                    style=";"-->
                  </div>
                  <div class="hexagon-text">Schools</div>
                </a>
              </div>
              <div class="hexagon">
                <a href="" aria-label="">
                  <!--div class="img-wrapper"
                    style=""-->
                  </div>
                  <div class="hexagon-text">Wellbeing</div>
                </a>
              </div>
              <div class="hexagon">
                <a href="" aria-label="">
                  <!--div class="img-wrapper"
                    style=""-->
                  </div>
                  <div class="hexagon-text">Corporate</div>
                </a>
              </div>
              <div class="hexagon">
                <a href="" aria-label="">
                  <!--div class="img-wrapper"
                    style=""-->
                  </div>
                  <div class="hexagon-text">Athlete 1-to-1</div>
                </a>
              </div>
              <div class="hexagon">
                <a href="" aria-label="">
                  <!--div class="img-wrapper"
                    style=""-->
                  </div>
                  <div class="hexagon-text">Corporate</div>
                </a>
              </div>
              <div class="hexagon">
                <a href="" aria-label="">
                  <!--div class="img-wrapper"
                    style=""-->
                  </div>
                  <div class="hexagon-text">View All</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}