/* CSS HEX from Coolors
--vivid-sky-blue: #56cbf9ff;
--maya-blue: #7fbeebff;
--powder-blue: #afbed1ff;
--lapis-lazuli: #2f6690ff;
--gunmetal: #16262eff;
*/

html {
    height: 100%;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgba(86, 203, 249, 0.3);
    font-family: 'Raleway', sans-serif;
    color: #2f6690ff;
}

h1 {
    font-weight: 700;
    color: #2f6690ff;
    font-size: 45px;
    margin-top: 20px;
}

h1.main-title {
    font-weight: 700;
    color: #2f6690ff;
    font-size: 45px;
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 15px;
}

h2 {
    font-weight: 400;
    color: #2f6690ff;
    font-size: 32px;
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 15px;
}

h2.prod-name {
    font-weight: 400;
    color: #2f6690ff;
    font-size: 16px;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}

#special {
    color: red;
}

.collapse {
    background-color: rgb(172, 230, 253);
}

a.dropdown-item.active {
    background: white;
    color: #16262eff;
}

.navbar {
    max-width: 1600px;
}

/* from Bulma via CI Boutique Ado Walkthru
for Font Awesome icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.shop-now-button {
    background: #2f6690ff;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #16262eff;
    color: white;
}

.btn-outline-black {
    background: white;
    color: #16262eff !important;
    border: 1px solid #16262eff;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #16262eff;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #16262eff; 
    color: white;
}

.text-black {
    color: #16262eff !important;
}

.border-black {
    border: 1px solid #16262eff !important;
}

a.category-badge > span.badge:hover {
    background: #16262eff !important;
    color: #fff !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #16262eff;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -- Media Queries -- */

/* xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* l screens */
@media (min-width: 992px) {
    .container {
      max-width: 1080px !important; 
    }
  }

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #16262eff; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #16262eff;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #16262eff;
    border: 1px solid #16262eff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #16262eff;
    border-color: #16262eff;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 60px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 132px;
    }

    body {
        height: calc(100vh - 132px);
    }
}