.card-body {
  background-color: #2f6690ff;
}

.card-body a:hover {
  text-decoration: none;
}

/* Image Container Styling */
.image-container {
  position: relative;
}

/* Image Flash Styling */
.image-flash {
  position: absolute;
  bottom: 15%;
  min-width: 15%;
  left: -2px;
  background-color: #a52a2a;
}

/* Image flash heading Styling */
.image-flash h3,
.most-image-flash h3 {
  padding: 0.6rem;
  color: white;
  font-weight: 120;
  font-size: 1.6rem;
}