{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block extra_meta %}
<meta name="description" content="Get expert tips and advice about 
sports and exercise nutrition with articles written by qualified nutritionist Trish Garrett,
 at Peak Nutrition. ">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="col text-center mt-3">
        <h1 class="logo-font nav-item nav-link">Tips and Advice</h1>
        <hr class="w-50 mb-1">
    </div>
    <div class="row">
        <div class="article-container col-10 offset-1">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for article in articles %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            <a href="{% url 'article_detail' article.slug %}">
                                <img class="card-img-top img-fluid"
                                    src="{% get_media_prefix %}{{ article.featured_image }}" alt="{{ article.title }}">
                            </a>
                            <h2 class="card-title ml-2">{{ article.title }}</h2>
                            <small class="author ml-2">Author: {{ article.author }}</small>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        {% if request.user.is_superuser %}
                                        <hr>
                                        <small class="ml-1">
                                            <p>Article Management: <a
                                                    href="{% url 'edit_article' article.slug %}">Edit</a> |
                                                <a class="text-danger"
                                                    href="{% url 'delete_article' article.slug %}">Delete</a></p>
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}